# Node modules
node_modules/

# Struktury danych - duże pliki JSON
!data/.gitkeep

output/graphs/*
!output/graphs/.gitkeep

output/halfEdges/*
!output/halfEdges/.gitkeep

output/paths/**/*
!output/paths/.gitkeep
!output/paths/dijkstra/.gitkeep
!output/paths/A-Star/.gitkeep

# Pliki tymczasowe
*.tmp
*.log
